{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if object %}ویرایش کمپین{% else %}ایجاد کمپین{% endif %}</title>

    <!-- Bootstrap RTL -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
</head>
<body>

<div class="campaign-form">
    <aside class="sidebar">
            
            <ul class="nav-menu">
                <li>
                    <a href="{% url 'dashboard-view' %}" style="color: black; text-decoration: none;">داشبورد</a>
                </li>
                <li> 
                    <a href="{% url 'account-page' %}" style="color:black; text-decoration: none"> حساب کاربری </a>
                </li>
                <li class="active">
                    <a href="{% url 'campaign-create' %}" style="color:black; text-decoration: none"> ایجاد کمپین </a>
                </li>
                <li>
                    <a href="{% url 'campaign-list' %}" style="color:black; text-decoration: none"> فهرست کمپین </a>
                </li>
                <li>
                    <a href="{% url 'ticket-list' %}" style="color:black; text-decoration: none"> فهرست تیکت ها   </a>
                </li>
            </ul>
        </aside>
    <div class="text-center mb-4 d-flex justify-content-between align-items-center">
        <a class="btn btn-orange mb-3" href="{% static 'files/format.xlsx' %}">
            دانلود نمونه فایل اکسل مشتریان
        </a>
        <a class="btn btn-orange mb-3" href="{% url 'campaign-list' %}">
            مدیریت کمپین‌ها
        </a>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row g-3">

            <div class="col-md-3">
                <label class="form-label">نام کمپین</label>
                {{ form.name }}
            </div>


            <div class="col-md-3">
                <label class="form-label">اولویت</label>
                {{ form.priority }}
            </div>


            <div class="col-md-3">
                <label class="form-label">هفته</label>
                {{ form.week }}
            </div>

            <div class="col-md-3">
                <label class="form-label">مبنای فعال‌سازی</label>
                {{ form.activation_base }}
            </div>

            <div class="col-md-3">
                <label class="form-label">نحوه مقایسه</label>
                {{ form.comparison_type }}
            </div>

            <div class="col-md-3">
                <label class="form-label">مقدار مقایسه</label>
                {{ form.comparison_value }}
            </div>

            <div class="col-md-3">
                <label class="form-label">واحد مقدار</label>
                {{ form.value_unit }}
            </div>

            <div class="col-md-3">
                <label class="form-label">دسته مشتریان</label>
                {{ form.customer_type }}
            </div>

            <div class="col-md-3">
                <label class="form-label">جنسیت</label>
                {{ form.gender }}
            </div>

            <div class="col-md-3">
                <label class="form-label">نوع پوست</label>
                {{ form.skin_type }}
            </div>

            <div class="col-md-3">
                <label class="form-label">نوع مو</label>
                {{ form.hair_type }}
            </div>

            <div class="col-md-3">
                <label class="form-label">کمپین فعال</label>
                {{ form.is_active }}
            </div>

            <div class="col-md-3">
                <label class="form-label">منبع محصول</label>
                {{ form.product_source }}
            </div>

            <div class="col-md-3 file-input-wrapper">
                <label class="form-label">دیتا مشتریان</label>
                {{ form.customers_file }}
            </div>

            <div class="col-6">
                <label class="form-label">الگوی پیام</label>
                {{ form.message_pattern }}
            </div>
        </div>

        <div class="mt-4 text-center">
            <button type="submit" class="btn btn-orange btn-lg w-100">
                {% if object %}ذخیره تغییرات{% else %}ایجاد کمپین{% endif %}
            </button>
        </div>
    </form>
</div>

</body>
</html>