{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>Retano</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

    <div class="app">

        
        <aside class="sidebar">
            <div class="brand">
                <img class="brand-img" src="{% static 'files/logo.png' %}">
                <span class="brand-text">Retano</span>


            </div>
          


            <ul class="nav-menu">
                <li class="active">
                    <a href="{% url 'dashboard-view' %}" calss="active"
                        style="color: black; text-decoration: none;">داشبورد</a>
                </li>
                <li>
                    <a href="{% url 'account-page' %}" style="color:black; text-decoration: none"> حساب کاربری </a>
                </li>
                <li>
                    <a href="{% url 'campaign-create' %}" style="color:black; text-decoration: none"> ایجاد کمپین
                    </a>
                </li>
                <li>
                    <a href="{% url 'campaign-list' %}" style="color:black; text-decoration: none"> فهرست کمپین
                        ها</a>
                </li>
                <li>
                    <a href="{% url 'ticket-list' %}" style="color:black; text-decoration: none"> فهرست تیکت ها </a>
                </li>
            </ul>


        </aside>
        
        <!-- Content -->
        <main class="content">


            <!-- <header class="topbar">
                <h1>داشبورد</h1>
                <span>خلاصه عملکرد و گزارش‌ها</span>
                <section class="dashboard-cards">
                    <h2>
                        {{user.username}}&nbsp;&nbsp;&nbsp;خوش آمدید
                    </h2>
                    {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="card-box" style="border: none;">خروج</button>
                    </form>
                    {% endif %}

                </section>
            </header> -->

            <header class="topbar">
                <div class="topbar-left">
                    <h1>داشبورد</h1>
                    <span>خلاصه عملکرد و گزارش‌ها</span>
                </div>

                <div class="topbar-right">
                    {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="card-box">خروج</button>
                    </form>
                    <span class="welcome-text">{{ user.username }} خوش آمدید</span>
                    {% endif %}
                </div>
            </header>
            <!-- Dashboard Cards -->
            <section class="dashboard-cards">
                <div class="card info-box">
                    <h3>مدت زمان مانده اشتراک</h3>
                    <p><strong>12 روز</strong></p>
                </div>
                <div class="card info-box">
                    <h3>تعداد پیام‌های SMS ارسال شده</h3>
                    <p><strong>1,250 پیام</strong></p>
                </div>
                <div class="card info-box">
                    <h3>تعداد کمپین‌های فعال</h3>
                    <p><strong>8 کمپین</strong></p>
                </div>
            </section>

            <!-- Charts Section -->
            <section class="charts-section">

                <div class="chart-card">
                    <h3>رفتار مشتریان و وفاداری</h3>
                    <canvas id="retentionChart"></canvas>
                </div>

                <div class="chart-card">
                    <h3>ارزش طول عمر مشتریان (CLV)</h3>
                    <canvas id="campaignChart" width="400px" height="400px"></canvas>
                </div>

                <div class="chart-card">
                    <h3>عملکرد فروش و درامد </h3>
                    <canvas id="lineChart" width="400px" height="400px"></canvas>
                </div>
                <div class="chart-card">
                    <h3>روند رشد مشتریان</h3>
                    <canvas id="GrowthChart" width="400px" height="400px"></canvas>
                </div>
                <div class="chart-card">
                    <h3>بخش بندی مشتریان</h3>
                    <canvas id="DistributionChart"></canvas>
                </div>
                <div class="campaigns-card">
                    <h3>فرصت ها و پیشنهادات</h3>
                    <ul>
                        <li>کمپین های بازگشت مشتری بعد از 30 و 90 روز</li>
                        <li>فعال سازی مشتریان At Risk</li>
                        <li>پیام های شخصی سازی شده</li>
                        <li>پیشنعاد محصولات مکمل</li>
                        <li>بسته های چند تایی</li>
                        <li>اشتراک ماهانه</li>
                        <li>کمپین جداگانه برای New / Active / VIP</li>

                    </ul>
                </div>
                <!-- Latest Campaigns & Alerts -->
                <section class="dashboard-bottom">




                </section>
                <section class="charts-section">

                </section>



        </main>

    </div>

    <script>
        // Retention Pie Chart
        const retentionCtx = document.getElementById('retentionChart').getContext('2d');
        const retentionChart = new Chart(retentionCtx, {
            type: 'doughnut',
            data: {
                labels: ['Retention Rate', 'Churn Rate'],
                datasets: [{
                    data: [29, 70],
                    backgroundColor: ['#ff7a00', '#ddd'],
                }]
            },
            options: {
                responsive: true,
                plugins: { legend: { position: 'bottom' } }
            }
        });

        // Campaign Bar Chart
        const campaignCtx = document.getElementById('campaignChart').getContext('2d');
        const campaignChart = new Chart(campaignCtx, {
            type: 'bar',
            data: {
                labels: ['1400', '1401', '1402', '1403','1404'],
                datasets: [{
                    label: 'تومان',
                    data: [248000, 325000, 498000, 782000, 1365000],
                    backgroundColor: '#ff7a00'
                }]
            },
            options: {
                responsive: true,
                scales: { y: { beginAtZero: true, max: 1500000 } }
            }
        });

        // Monthly Activity Line Chart
        const lineCtx = document.getElementById('lineChart').getContext('2d');
        const lineChart = new Chart(lineCtx, {
            type: 'line',
            data: {
                labels: ['1400', '1401', '1402', '1403', '1404'],
                datasets: [{
                    label: 'میلیارد تومان',
                    data: [1.6, 4.7, 11.8, 23.4, 24.9],
                    borderColor: '#ff7a00',
                    backgroundColor: 'rgba(255,122,0,0.2)',
                    fill: true,
                    tension: 0.3
                }]
            },
            options: {
                responsive: true,
                scales: { y: { beginAtZero: true } }
            }
        });

        // Monthly Activity Line Chart
        const GrowthCtx = document.getElementById('GrowthChart').getContext('2d');
        const GrowthChart = new Chart(GrowthCtx, {
            type: 'bar',
            data: {
                labels: ['1400', '1401', '1402', '1403', '1404'],
                datasets: [{
                    label: 'تعداد مشتریان',
                    data: [6280, 12945, 20410, 27650,16930],
                    backgroundColor: '#ff7a00'
                }]
            },
            options: {
                responsive: true,
                scales: { y: { beginAtZero: true, max: 28000 } }
            }
        });

        const DistributionCtx = document.getElementById('DistributionChart').getContext('2d');
        const DistributionChart = new Chart(DistributionCtx, {
            type: 'doughnut',
            data: {
                labels: ["vip", 'Active', 'New', 'At Risk', 'Churned'],
                datasets: [{
                    data: [0.8, 18.2, 6.9, 2.3, 71.8],
                    backgroundColor: ['#F5D400', '#18E74C', '#3E26F2', '#E31C23', '#0F0D00']

                }]
            },

            options: {
                responsive: true,
                plugins: { legend: { position: 'bottom' } }
            }
        });
    </script>

</body>

</html>